.search{
    position: relative;
    color:#bdbdbd;
    margin-right: 2px;
    margin-left: 0px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
    height: 55px;
    min-width: 100px;
    display: flex;
    align-items: center;
    padding:0 10px;

    .search-icon{
        padding:0 2px;
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar{
        padding:1px 3px 1px 0;
        margin-left: 30px;
        width: 100%;
    }
}

@media screen and (max-width :780px){
    .search{
        height: 30px;
        font-size: 10px;
    }
}