.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;

  .header-part {
    padding: 0 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .logo {
      color: #000;
      padding: 0 1vw;
      font-weight: 900;
      white-space: nowrap;
    }

    .search {
      position: relative;
      color: #bdbdbd;
      border: 1px solid #bdbdbd;
      background-color: rgba(255, 255, 255, 0.15);
      margin-right: 2px;
      margin-left: 0px;
      border-radius: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 19.07px;
      height: 55px;
      min-width: 300px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      .search-icon {
        padding: 0 2px;
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search-bar {
        padding: 1px 3px 1px 0;
        margin-left: 30px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    height: 75px;
    .header-part {
      width: 100%;
      padding:5vw 3vw 0 3vw;

      .search {
        min-width: 103px;
        height: 36px;
      };
      &:nth-child(2){
        justify-content: end;
      }
    }
  }
}
